/* styles.css */
body {
         font-family: Arial, sans-serif;
}

.container {
         max-width: 500px;
         margin: 0 auto;
         padding: 20px;
         border: 1px solid #ccc;
         border-radius: 5px;
}
#searchResults
{
max-width: 500px;
margin: 0 auto;
padding: 20px;
border: 1px solid #ccc;
border-radius: 5px;
}
form {
         margin-bottom: 20px;
}

label {
         display: block;
         margin-bottom: 5px;
}

input,
select,
button {
         width: 100%;
         padding: 5px;
         margin-bottom: 10px;
         border: 1px solid #ccc;
         border-radius: 3px;
}

button {
         cursor: pointer;
}

.playlist {
         border: 1px solid #ccc;
         padding: 10px;
         margin-bottom: 10px;
}